body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#filaSuperior, #filaInferior{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:1rem;
}

img{
    max-width:10%;
}